body {
  margin: 0;
  padding: 0;
}

#universe {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url(..../devril-stars.png) center top repeat rgb(0, 0, 0);
}
