@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-family: "Potta One";
  color: #fff;
}

#universe {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url("https://paccs.github.io/devril/devril-stars.png") center top repeat rgb(0, 0, 0);
}

.clouds {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    display: block;
    background: url("https://paccs.github.io/devril/devril-clouds.png") center top repeat transparent;
    animation: 200s linear 0s infinite normal none running clouds__anim;
    pointer-events: none;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__content h1 {
  font-size: 36px;
  line-height: 100vh;
}

.main__content button {
  height: 80px;
  width: 200px;
  font-size: 24px;
  text-align: center;
  background: transparent;
  border: 3px #5448C8 solid;
  border-radius: 4px;
  position: absolute;
  margin-top: 80px;
}

.main__content button:hover {
  background: #5448C8;
  transition: 200ms;
}

@-webkit-keyframes clouds__anim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
